.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background: url(../../../images/closeIcon.svg) no-repeat center;
  border: none;
  transition: ease-out .3s;
}

.popup__close:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
    background-size: 20px;
  }
}
