.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 880px;
  min-height: 119px;
  margin: 0 auto 40px;
  padding-top: 45px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}


@media screen and (max-width: 880px) {
  .header {
    box-sizing: border-box;
    min-height: 84px;
    margin: 0 auto 42px;
    padding: 28px 27px 0;
  }
}
